# git files
.git
*.gitattributes
*.gitignore
*.gitkeep

# markdown files
*.md

# env
.env.example

# installed by package managers
./vendor
./node_modules
./public/build

# editors
./.fleet
./.idea
./.vscode

# dockerfiles
./devops
docker-compose*

# storage files
/storage/app/public/
/storage/debugbar/

# cached files
/bootstrap/cache/data
/storage/framework/**/*

# assets (CSS, JS)
/public/**/*.css
/public/**/*.js
